 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;800&display=swap');
 :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .html-main{
    height: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    width: 100%;
    background: #a694e92a;
    background-size: 150%;
  }
  .body-main{
    height: 100%;
    width: 100%;
   
  }
  .main-main{
    padding: 0 50px; 

  }
  header,footer{
    background: linear-gradient(-6deg,#a694e9, #b1d2b5);
    height: 120px;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  .character-section{
    min-height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fill, 320px);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
  }
  
  .card-grid{
    max-width: var(--width-container);
    width: 100%;
  }
  .nav-title{
    color: white;
    margin-left: 60px;
    font-size: 30px;
    font-weight:700;
}
.flex{
    margin: 0;
    margin-right:60px;
}
.loupe{
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(245, 245, 245, 0.267);
    border-radius: 10px;
    padding: 9px;
    margin-left: 2px;
    color: white;
}
.loupe:hover{
    box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.4);
    cursor: pointer;
}
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    width: 100%;
    height: 400px;
  }
  
  .card__background{
    height: 320px;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  .img-rounded{
    width: 320px;
    height:320px;
    border-radius: 20px;
  }
  .card:hover .card__background{
    filter: brightness(0.5) saturate(1) contrast(1) blur(10px);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(1) contrast(1) blur(10px);
  }
  .btn-add{
    border: 0 solid #b1d2b5;
    background-color: #b1d2b5f3;
    border-radius: 18px;
    padding: 12px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin: 80px 0;
  }

  .btn-add:hover, .btn-add-footer:hover {
    box-shadow: inset 0 0 0 2000px #84c78c7e;
    cursor: pointer;
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
    opacity: 0;
    height: 320px;
    width: 320px;
  }
  .card__content:hover{
    opacity: 1;
  }
 
   .card__name{
    color: var(--text-lighter);
    font-size: 22px;
    text-align: left;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    width: 100%;  
    text-transform: uppercase;
  }
  .card__txt{
    font-weight: 700;
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-align: left;
    width: 100%;
    font-size: 16px;

  }
  .btn{
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(245, 245, 245, 0.267);
    border-radius: 18px;
    padding: 8px;
    color: white;
    font-weight: 700;
    width: 120px;
    height: auto;
    text-align: center;
    
  }
  .btn:hover {
    box-shadow: inset 0 0 0 2000px rgba(2, 2, 2, 0.4);
    cursor: pointer;
  }
  
  .btn-add-footer{
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(245, 245, 245, 0.267);
    border-radius: 18px;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
  }